@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* Navbar */

.nav {
  display: flex;
  background: #4b4a4b;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;
}

.icon {
  letter-spacing: 3px;
  font-size: 1.7rem;
  font-weight: bolder;
  color: #fff;
  text-decoration: none;
}

nav .user {
  display: flex;
  align-items: center;
}

nav .right-nav {
  display: flex;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}
nav .nav-links ul {
  display: flex;
  list-style-type: none;
}
nav .nav-links ul li {
  padding: 0 8px;
  margin-right: 10px;
}
nav .nav-links ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 40ms ease-in-out;
}
nav .nav-links ul li a:hover {
  text-decoration: underline;
  color: #0488d1;
}
nav .nav-links ul li:hover {
  cursor: pointer;
}

/* createPost */

.create-post {
  background: white;
  /* border: 1px solid #e0e0e0; */
  box-sizing: border-box;
  border-radius: 4px;
}

.create-post > form {
  padding: 10px;
  border-top: 1px solid #d0d0d0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-post-title {
  width: 50%;
  height: 50px;
  margin-top: 40px;
  padding: 10px;
  border: 0;
  font-weight: 700;
  background-color: lightgray;
}

.create-post textarea {
  margin: 0 50px;
  margin-top: 50px;
  height: 300px;
  padding: 10px;
  width: 80%;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 600;
  border: none;
  resize: none;
  background-color: lightgray;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

#add-post-btn {
  width: 112px;
  height: 42px;
  left: 111.5px;
  top: 0px;
  margin-top: 40px;
  background: #0488d1;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  transition: all 150ms ease-in-out;
}

#add-post-btn:hover {
  cursor: pointer;
  background-color: #034f77;
}

#add-post-btn:focus,
.create-post textarea:focus,
.create-post-title:focus {
  outline: none;
}
