@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* Navbar */

.nav {
  display: flex;
  background: #4b4a4b;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;
}

.icon {
  letter-spacing: 3px;
  font-size: 1.7rem;
  font-weight: bolder;
  color: #fff;
  text-decoration: none;
}

nav .user {
  display: flex;
  align-items: center;
}

nav .right-nav {
  display: flex;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}
nav .nav-links ul {
  display: flex;
  list-style-type: none;
}
nav .nav-links ul li {
  padding: 0 8px;
  margin-right: 10px;
}
nav .nav-links ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 40ms ease-in-out;
}
nav .nav-links ul li a:hover {
  text-decoration: underline;
  color: #0488d1;
}
nav .nav-links ul li:hover {
  cursor: pointer;
}

/* Blogs List - index.php*/

#create-blog-button {
  height: 60px;
  padding: 20px;
  margin: 15px 0;
}

#create-blog-button a {
  padding: 8px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: #0488d1;
  font-weight: 700;
  font-size: 1.3rem;
}

#create-blog-button a:hover {
  color: lightgray;
}

.blog-list-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto;
  padding: 30px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 40px;
  width: 300px;
  background-color: rgb(233, 229, 229);
  border-radius: 10px;
}

.heading {
  padding: 5px;
  color: #632b06;
  text-align: center;
  font-size: 1.5rem;
  background-color: #fff;
  border-radius: 10px;
}

.read-more-btn {
  padding: 30px;
  margin-top: 40px;
}

.read-more-btn a {
  text-decoration: none;
  font-weight: 600;
  padding: 10px;
  margin-left: 40px;
  color: white;
  border-radius: 5px;
  background-color: #0488d1;
}

.read-more-btn a:hover {
  background-color: #034f77;
}

/* createPost */

.create-post {
  background: white;
  box-sizing: border-box;
  border-radius: 4px;
}

.create-post > form {
  padding: 10px;
  border-top: 1px solid #d0d0d0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-post-title {
  width: 50%;
  height: 50px;
  margin-top: 40px;
  padding: 10px;
  border: 0;
  font-weight: 700;
  background-color: lightgray;
}

.create-post textarea {
  margin: 0 50px;
  margin-top: 50px;
  height: 300px;
  padding: 10px;
  width: 80%;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 600;
  border: none;
  resize: none;
  background-color: lightgray;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

#add-post-btn {
  width: 112px;
  height: 42px;
  left: 111.5px;
  top: 0px;
  margin-top: 40px;
  background: #0488d1;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  transition: all 150ms ease-in-out;
}

#add-post-btn:hover {
  cursor: pointer;
  background-color: #034f77;
}

#add-post-btn:focus,
.create-post textarea:focus,
.create-post-title:focus {
  outline: none;
}
