@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

/* NavBar Component */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Poppins",sans-serif;
}

.nav .icon {
  letter-spacing: 1px;
  font-size: 1.7rem;
  font-weight: bolder;
  color: #0488d1;
  text-decoration: none;
}

.nav .nav__searchContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav__searchContainer form input {
  height: 3.3vh;
  width: 17vw;
  padding-left: 0.7rem;
  margin-right: 0.3rem;
  border-radius: 7px;
  border: 0;
  outline: 0;
  background-color: #e7e3e3;
}

.nav .nav__searchContainer form button {
  font-size: 1.2rem;
  background: transparent;
  border: 0;
}

.nav .nav__searchContainer form button i {
  color: #757272;
}

.nav .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #080808;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 22px;
}

.nav .right-nav .nav-links a {
  margin-left: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #080808;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.nav .right-nav .nav-links a:hover {
  color: #0488d1;
}

@media only screen and (max-width: 769px) {
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__searchContainer {
    display: none;
  }
  .right-nav .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .right-nav .nav-links {
    display: none;
  }
  .nav-box {
    z-index: 100000;
    position: absolute;
    width: 100%;
  }
  .nav-box .nav-links ul li {
    text-transform: uppercase;
  }
  .nav-box .nav-links ul li a {
    color: #080808;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .nav-box .nav-links ul li a:hover {
    color: #0488d1;
    text-decoration: none;
  }
}

.home__imgContainer {
  width: 100%;
  height: 50vh;
}

.home__imgContainer .home__imageDark {
  position: absolute;
  width: 100%;
  height: 50vh;
  background: rgba(0, 0, 0, 0.3);
}

.home__imgContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home__bannerContent {
  position: absolute;
  top: 20vh;
  left: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 25vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__bannerContent .home__bannerContent-title h1 {
  font-size: 37px;
  color: #ffffff;
  font-weight: 700;
  text-shadow: 0px 0px 10px black;
}

.home__bannerContent .home__bannerContent-desc p {
  font-size: 1rem;
  line-height: 25px;
  color: #bebdbd;
}

.home__bannerContent .home__bannerContent-btn button {
  height: 40px;
  background-color: #0488d1;
  border: 0;
  border-radius: 7px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.home__bannerContent .home__bannerContent-btn button a {
  height: 30px;
  padding: 20px 25px;
  text-decoration: none;
  color: white;
}

.home__bannerContent .home__bannerContent-btn button:hover {
  background-color: #080808;
}

@media only screen and (max-width: 769px) {
  .home__bannerContent {
    left: 10%;
  }
}

@media only screen and (max-width: 413px) {
  .home__imgContainer {
    height: 40vh;
  }
  .home__imgContainer .home__imageDark {
    height: 40vh;
  }
  .home__bannerContent {
    top: 15%;
    left: 5%;
  }
  .home__bannerContent .home__bannerContent-title h1 {
    text-align: center;
    font-size: 1.8rem;
  }
  .home__bannerContent .home__bannerContent-desc p {
    font-size: 0.9rem;
  }
  .home__bannerContent .home__bannerContent-btn button {
    height: 35px;
  }
}

.home__blogCarousel {
  width: 80%;
  margin: 0 12vw;
  margin-top: 4vh;
  padding: 20px;
}

.home__blogCarousel .home__blogCarouselHeading {
  text-align: center;
  margin-bottom: 50px;
  color: #0488d1;
}

@media only screen and (max-width: 769px) {
  .home__blogCarousel {
    width: 100%;
    margin: 4vh 0 0 0;
  }
}

.home__blogCardsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 45vh;
  margin: 50px 0;
}

.home__blogCardsBox .home__blogCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 70%;
}

.home__blogCardsBox .home__blogCards .home__blogCard1 {
  height: 100%;
  width: 45%;
  margin-right: 10px;
}

.home__blogCardsBox .home__blogCards .home__blogCard1 img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .17s ease-in-out;
  transition: all .17s ease-in-out;
}

.home__blogCardsBox .home__blogCards .home__blogCard1 img:hover {
  opacity: 0.8;
}

.home__blogCardsBox .home__blogCards .home__blogCardDetails {
  position: relative;
  top: -32vh;
  width: 70%;
  left: 15%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #c9c6c6;
}

.home__blogCardsBox .home__blogCards .home__blogCardDetails button {
  width: 5vw;
  padding: 5px;
  margin-left: 38%;
  margin-bottom: 10px;
  border: 0;
  color: white;
  font-size: 1rem;
  font-family: 900;
  text-transform: uppercase;
  background-color: #19ddc4;
}

.home__blogCardsBox .home__blogCards .home__blogCardDetails h3 {
  background: transparent;
  color: white;
  font-size: 1.4rem;
}

.home__blogCardsBox .home__blogCards .home__blogCardDetails .blog__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__blogCardsBox .home__blogCards .home__blogCardDetails .blog__details p {
  font-size: 0.8rem;
  color: #c5c2c2 !important;
}

@media only screen and (max-width: 769px) {
  .home__blogCardsBox {
    height: 40vh;
    margin: 90px 0;
  }
  .home__blogCardsBox .home__blogCards {
    width: 100%;
  }
  .home__blogCardsBox .home__blogCards .home__blogCardDetails {
    top: -30vh;
  }
  .home__blogCardsBox .home__blogCards .home__blogCardDetails button {
    width: auto;
  }
}

@media only screen and (max-width: 413px) {
  .home__blogCardsBox {
    height: 80vh;
  }
  .home__blogCardsBox .home__blogCards {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home__blogCardsBox .home__blogCards .home__blogCard1 {
    width: 100%;
  }
  .home__blogCardsBox .home__blogCards .home__blogCardDetails {
    top: -30vh;
  }
  .home__blogCardsBox .home__blogCards .home__blogCardDetails button {
    width: auto;
  }
}

.home__BannerTwo {
  width: 100%;
  height: 70vh;
  margin: 90px 0;
}

.home__BannerTwo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home__BannerTwo .home__BannerTwoDetails {
  position: relative;
  top: -55vh;
  width: 35%;
  margin-left: 5%;
}

.home__BannerTwo .home__BannerTwoDetails h3 {
  font-family: "Proxima Nova";
  font-size: 1.6rem;
  color: gray;
}

@media only screen and (max-width: 769px) {
  .home__BannerTwo .home__BannerTwoDetails {
    left: 14%;
    top: -45vh;
    width: 75%;
  }
}

@media only screen and (max-width: 413px) {
  .home__BannerTwo {
    height: 50vh;
  }
  .home__BannerTwo .home__BannerTwoDetails {
    left: 12%;
    top: -35vh;
    width: 75%;
  }
  .home__BannerTwo .home__BannerTwoDetails h3 {
    font-size: 1.2rem;
  }
}

.blog-tile-img img {
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.blog-tile-img img:hover {
  opacity: 0.8;
}

.card {
  padding: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.card .heading {
  margin: 20px;
  color: black;
  -webkit-transition: all .17s ease-in-out;
  transition: all .17s ease-in-out;
}

.card .heading:hover {
  color: #0488d1;
}

.card .blog-tile-img {
  margin: 0;
}

.card #content {
  padding-left: 20px;
  padding-right: 20px;
}

.card .blog__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px solid #f2f2f6;
}

.card .blog__details #homePage__author {
  color: #1f2024;
}

.card .read-more-btn {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
  margin-top: 30px;
}

@media only screen and (max-width: 769px) {
  .card {
    width: 316px;
  }
  .card .heading {
    font-size: 1.1rem;
  }
  .card #homePage__author {
    font-size: 0.9rem;
  }
  .card .read-more-btn a {
    font-size: 0.8rem;
  }
}

.search__heading {
  margin: 40px 0;
  text-align: center;
}

.search__noDataFound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__noDataFound img {
  -o-object-fit: contain;
     object-fit: contain;
}

.search-card {
  max-height: 550px;
  overflow: scroll;
}

.search-card::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 413px) {
  .search__noDataFound {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50vh;
    width: 100%;
  }
  .search__noDataFound img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
/*# sourceMappingURL=style.css.map */