@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

/* NavBar Component */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Poppins",sans-serif;
}

.nav .icon {
  letter-spacing: 1px;
  font-size: 1.7rem;
  font-weight: bolder;
  color: #0488d1;
  text-decoration: none;
}

.nav .nav__searchContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav__searchContainer form input {
  height: 3.3vh;
  width: 17vw;
  padding-left: 0.7rem;
  margin-right: 0.3rem;
  border-radius: 7px;
  border: 0;
  outline: 0;
  background-color: #e7e3e3;
}

.nav .nav__searchContainer form button {
  font-size: 1.2rem;
  background: transparent;
  border: 0;
}

.nav .nav__searchContainer form button i {
  color: #757272;
}

.nav .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #080808;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 22px;
}

.nav .right-nav .nav-links a {
  margin-left: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #080808;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.nav .right-nav .nav-links a:hover {
  color: #0488d1;
}

@media only screen and (max-width: 768px) {
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__searchContainer {
    display: none;
  }
  .right-nav .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .right-nav .nav-links {
    display: none;
  }
  .nav-box {
    z-index: 100000;
    position: absolute;
    width: 100%;
  }
  .nav-box .nav-links ul li {
    text-transform: uppercase;
  }
  .nav-box .nav-links ul li a {
    color: #080808;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .nav-box .nav-links ul li a:hover {
    color: #0488d1;
    text-decoration: none;
  }
}

.home__imgContainer {
  width: 100%;
  height: 50vh;
}

.home__imgContainer .home__imageDark {
  position: absolute;
  width: 100%;
  height: 50vh;
  background: rgba(0, 0, 0, 0.3);
}

.home__imgContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home__bannerContent {
  position: absolute;
  top: 20vh;
  left: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 25vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__bannerContent .home__bannerContent-title h1 {
  font-size: 37px;
  color: #ffffff;
  font-weight: 700;
  text-shadow: 0px 0px 10px black;
}

.home__bannerContent .home__bannerContent-desc p {
  font-size: 1rem;
  line-height: 25px;
  color: #bebdbd;
}

.home__bannerContent .home__bannerContent-btn button {
  height: 40px;
  background-color: #0488d1;
  border: 0;
  border-radius: 7px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.home__bannerContent .home__bannerContent-btn button a {
  height: 30px;
  padding: 20px 25px;
  text-decoration: none;
  color: white;
}

.home__bannerContent .home__bannerContent-btn button:hover {
  background-color: #080808;
}

@media only screen and (max-width: 768px) {
  .home__bannerContent {
    left: 10%;
  }
}

@media only screen and (max-width: 412px) {
  .home__imgContainer {
    height: 40vh;
  }
  .home__imgContainer .home__imageDark {
    height: 40vh;
  }
  .home__bannerContent {
    top: 15%;
    left: 5%;
  }
  .home__bannerContent .home__bannerContent-title h1 {
    text-align: center;
    font-size: 1.8rem;
  }
  .home__bannerContent .home__bannerContent-desc p {
    font-size: 0.9rem;
  }
  .home__bannerContent .home__bannerContent-btn button {
    height: 35px;
  }
}

.search__heading {
  margin: 40px 0;
  text-align: center;
}

.search__noDataFound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__noDataFound img {
  -o-object-fit: contain;
     object-fit: contain;
}

.search-card {
  max-height: 550px;
  overflow: scroll;
}

.search-card::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 412px) {
  .search__noDataFound {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50vh;
    width: 100%;
  }
  .search__noDataFound img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
/*# sourceMappingURL=style.css.map */